nav {
	width: 90%;
}

nav > ul {
	display: flex;
}

li {
	list-style: none;
	justify-content: space-between;
}

li > ul {

}

nav li ul {
transition-property: transform;
transition-duration: 200ms;
transition-timing-function: ease-in;
transition-delay: 50ms;
transform: scale(1, 0);
transform-origin: top center;

}
nav li:hover ul {
transform: scale(1, 2) translate(-50px, 0px);

}

div {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #5ab;
	margin-top: 1em;
}

div:nth-child(odd) {
	background: #ba5;
	transition: background 3s ease-in 1s;
}

div:nth-child(odd):hover {
	background: rebeccapurple;
	transition: background 1s ease-in 1s;
}




.div5 {
	transition: height 1s ease-in-out;
}


.div5:hover {
  background-color: gold;
  height: 200px;
}

.glowAndGrow {
	width: 100px
  height: 100px;
 transition: width 2s;
}
.glowAndGrow:hover {
  background-color: gold;
  
}
